## BigTreeTech Kraken V1.0
# 
# STM32H723
# 128KiB bootloader
# 25 MHz crystal
# USB on PA11/PA12
# CAN on PD0/PD1

[board_pins btt_kraken_v1.0]
aliases:
    FAN0=PA0, FAN1=PA1, FAN2=PA2, FAN3=PA3, FAN4=PA4, FAN4=PA5, FAN6=PA6, FAN6_TACH=PC1, FAN7=PE8, FAN7_TACH=PG0,
    
    FWS_1=PC2, FWS_2=PC3,

    PS_ON=PD10,

    PROBE=PG1, PROBE_SERVO=PE9,
    PROXIMITY=PD11,

    SERVO=PE7,
    RGB1=PF12, RGB2=PF11,

    HEB=PF5, HE0=PF6, HE1=PF7, HE2=PF9, HE3=PF8,
    THB=PB0, TH0=PB1, TH1=PC5, TH2=PC4, TH3=PA7,

    # Stepper SPI
    S_MOSI=PC8, S_MISO=PC7, S_SCK=PC6,
    
    # Stepper drivers
    S1_DIR=PC13, S1_STEP=PC14, S1_EN=PE6,  S1_CS=PD6,   S1_STOP=PC15,
    S2_DIR=PE4,  S2_STEP=PE5,  S2_EN=PE3,  S2_CS=PD5,   S2_STOP=PF0,
    S3_DIR=PE1,  S3_STEP=PE2,  S3_EN=PE0,  S3_CS=PD4,   S3_STOP=PF1,
    S4_DIR=PB8,  S4_STEP=PB9,  S4_EN=PB7,  S4_CS=PD3,   S4_STOP=PF2,
    S5_DIR=PG10, S5_STEP=PG9,  S5_EN=PG13, S5_CS=PD2,   S5_STOP=PF3,
    S6_DIR=PD7,  S6_STEP=PG11, S6_EN=PG12, S6_CS=PA15,  S6_STOP=PF4,
    S7_DIR=PB3,  S7_STEP=PB4,  S7_EN=PB5,  S7_CS=PA9,   S7_STOP=PF10,
    S8_DIR=PB6,  S8_STEP=PG15, S8_EN=PA9,  S8_CS=PA10,  S8_STOP=PC0,
    
    # PT100/PT1000 inputs
    THERM_SPI_MOSI=PC12, THERM_SPI_MISO=PC11, THERM_SPI_SCK=PC10, 
    THERM_SPI_CS1=PC9, THERM_SPI_CS2=PA8, 

    # EXP Headers
    # TODO: Verify the order
    EXP1_1=<GND>, EXP1_3=PD13,  EXP1_5=PD15, EXP1_7=PG3, EXP1_9=PG5,
    EXP1_2=<5V>,  EXP1_4=PD12,  EXP1_6=PD14, EXP1_8=PG2, EXP1_10=PG4,
    # EXP2 header
    EXP2_1=<GND>, EXP2_3=PG6,   EXP2_5=PG7,  EXP2_7=PG8,  EXP2_9=PE13,
    EXP2_2=<NC>,  EXP2_4=<RST>, EXP2_6=PE14, EXP2_8=PE11, EXP2_10=PE12,
    