#####################################################################
# MCU Definitions
#####################################################################

[mcu pico]
serial: /dev/serial/by-id/usb-Kalico_rp2040_pico-if00

[mcu toolhead]
serial: /dev/serial/by-id/usb-Kalico_rp2040_nitehawk-if00

## Board Pin aliases

[include boards.d/bigtreetech/skr_pico.cfg]
[board_pins bigtreetech_skr_pico]
mcu: pico

[include boards.d/ldo/nitehawk-36.cfg]
[board_pins ldo_nitehawk_36]
mcu: toolhead

## MCU Temperature sensors
[temperature_sensor Pico]
sensor_type: temperature_mcu
sensor_mcu: pico

[temperature_sensor Nitehawk]
sensor_type: temperature_mcu
sensor_mcu: toolhead

#####################################################################
#      Pin Mappings
#####################################################################

## Z MCU - In MOTOR4
## Z0 Stepper - Front Left
[stepper_z]
step_pin:    pico:E0_STEP
dir_pin:    !pico:E0_DIR
enable_pin: !pico:E0_EN
# endstop_pin: mcu:STOP2

##	Z MCU - In MOTOR5
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin:    pico:X_STEP
dir_pin:     pico:X_DIR
enable_pin: !pico:X_EN

##	Z MCU - In MOTOR6
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin:    pico:Y_STEP
dir_pin:    !pico:Y_DIR
enable_pin: !pico:Y_EN

##	Z MCU - In MOTOR7
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin:    pico:Z_STEP
dir_pin:     pico:Z_DIR
enable_pin: !pico:Z_EN

[tmc2209 stepper_z]
uart_pin: pico:STEPPER_UART_RX
tx_pin:   pico:STEPPER_UART_TX
uart_address: 3
interpolate: False
run_current: 0.8
sense_resistor: 0.110   # Octopus Pro
home_current: 0.4
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: pico:STEPPER_UART_RX
tx_pin:   pico:STEPPER_UART_TX
uart_address: 0
interpolate: False
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110   # Octopus Pro
home_current: 0.4

[tmc2209 stepper_z2]
uart_pin: pico:STEPPER_UART_RX
tx_pin:   pico:STEPPER_UART_TX
uart_address: 2
interpolate: False
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110   # Octopus Pro
home_current: 0.4

[tmc2209 stepper_z3]
uart_pin: pico:STEPPER_UART_RX
tx_pin:   pico:STEPPER_UART_TX
uart_address: 1
interpolate: False
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110   # Octopus Pro
home_current: 0.4

## Bed Heater
[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: pico:HEATER_BED
sensor_pin: pico:THERMISTOR_BED

#####################################################################
# 	Fan Control
#####################################################################

[controller_fan electronics_fan]
##	Controller fan - HE3 Connector
pin: pico:HE0

[temperature_sensor chamber]
sensor_pin: pico:TH0

[fan_generic nevermore]
pin: pico:FAN3

[neopixel chamber_lights]
pin: pico:RGB

## Toolhead

[tmc2209 extruder]
uart_pin: toolhead:UART
interpolate: false
# run_current: 0.5    # CW2
run_current: 0.6    # Galileo 2
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: toolhead:STEP
dir_pin: !toolhead:DIR
enable_pin: !toolhead:EN
heater_pin: toolhead:HE
sensor_pin: toolhead:TH

[heater_fan hotend_fan]
pin: toolhead:HEF

[fan]
pin: toolhead:PCF

# [adxl345 nitehawk]
# cs_pin: toolhead:ADXL_CS
# spi_software_sclk_pin: toolhead:ADXL_CLK
# spi_software_mosi_pin: toolhead:ADXL_MOSI
# spi_software_miso_pin: toolhead:ADXL_MISO
# axes_map: x,y,z

[neopixel stealthburner]
pin: toolhead:RGB
