[mcu] # pitb
canbus_uuid: b3eb1b1a712a

[include boards.d/fysetc/party_in_the_back.cfg]
[board_pins fysetc_party_in_the_back]
mcu: mcu

[temperature_sensor PITB]
sensor_type: temperature_mcu
sensor_mcu: mcu

[stepper_x]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
# endstop_pin: tmc5160_stepper_x:virtual_endstop
endstop_pin: toolhead:XES
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200 

[stepper_y]
step_pin: MOT2_STEP
dir_pin: !MOT2_DIR
enable_pin: !MOT2_EN
# endstop_pin: tmc5160_stepper_y:virtual_endstop
endstop_pin: pico:Y_STOP
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200 

[tmc5160 stepper_x]
sense_resistor: 0.075   # PITB
spi_bus: spi0a
cs_pin: MOT2_CS
diag0_pin: ^!ENDSTOP_Y
run_current: 1.2
# endstop_pin: ENDSTOP_X
# spi_software_mosi_pin: MOSI
# spi_software_miso_pin: MISO
# spi_software_sclk_pin: SCLK

[tmc5160 stepper_y]
sense_resistor: 0.075   # PITB
spi_bus: spi0a
cs_pin: MOT1_CS
diag0_pin: ^!ENDSTOP_X
run_current: 1.2
# endstop_pin: ENDSTOP_Y
# spi_software_mosi_pin: MOSI
# spi_software_miso_pin: MISO
# spi_software_sclk_pin: SCLK
