[mcu] # pitb2
canbus_uuid: c17fd7c55906

[include boards.d/fysetc/party_in_the_back_2.cfg]
[board_pins fysetc_party_in_the_back_2]
mcu: mcu

[temperature_sensor PITB]
sensor_type: temperature_mcu
sensor_mcu: mcu

[stepper_x]
step_pin: MOT2_STEP
dir_pin: !MOT2_DIR
enable_pin: !MOT2_EN
# endstop_pin: tmc5160_stepper_x:virtual_endstop
endstop_pin: toolhead:XES
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200 

[tmc5160 stepper_x]
sense_resistor: 0.075   # PITB2
# spi_bus: spi0a
spi_software_mosi_pin: MOSI
spi_software_miso_pin: MISO
spi_software_sclk_pin: SCK
cs_pin: MOT2_CS
diag0_pin: ^!MOT2_DIAG
run_current: 1
# endstop_pin: ENDSTOP_X

[stepper_y]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
# endstop_pin: tmc5160_stepper_y:virtual_endstop
endstop_pin: ENDSTOP_Y
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200 

[tmc5160 stepper_y]
sense_resistor: 0.075   # PITB2
# spi_bus: spi0a
spi_software_mosi_pin: MOSI
spi_software_miso_pin: MISO
spi_software_sclk_pin: SCK
cs_pin: MOT1_CS
diag0_pin: ^!MOT1_DIAG
run_current: 1
# endstop_pin: ENDSTOP_Y

