# [gcode_macro LOAD_FILAMENT]
# gcode: 
#   SAVE_GCODE_STATE NAME=LOAD_FILAMENT
#   M83           ; Relative extrusion
#   G1 E70 F3000  ; Load 70mm quickly
#   G1 E30 F300   ; Purge 30mm
#   RESTORE_GCODE_STATE NAME=LOAD_FILAMENT

# [gcode_macro UNLOAD_FILAMENT]
# gcode:
#   SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
#   M83           ; Relative extrusion
#   G1 E-5 F300   ; Retract 5mm slowly
#   G1 E4.5 F1200 ; Dip to remove string
#   G1 E-80 F3000 ; Fast full retract
#   RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT

# Gears to Toolhead: 21mm?
# Toolhead to Nozzle: 54mm

[save_variables]

# TODO: Take advantage of toolhead filament sensors, plus a defined "filament path length"
[gcode_macro LOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    {% if printer.extruder.can_extrude %}
      M83                            ; set extruder to relative
      G1 E60 F300                    ; load
      G1 E5  F150                    ; prime nozzle with filament
    {% else %}
      COLD_EXTRUDE HEATER=extruder ENABLE=1
      M83
      G0 E60 F3600
      COLD_EXTRUDE HEATER=extruder ENABLE=0
    {% endif %}
  RESTORE_GCODE_STATE NAME=LOAD_FILAMENT

[gcode_macro UNLOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT
    {% if printer.extruder.can_extrude %}
      M83                            ; set extruder to relative
      G1 E10 F300                    ; extrude a little to soften tip
      G1 E-20 F1800                  ; retract some, but not too much or it will jam
      G1 E-50 F3600                  ; unload filament      
    {% else %}
      COLD_EXTRUDE HEATER=extruder ENABLE=1
      M83
      G0 E-65 F3600
      COLD_EXTRUDE HEATER=extruder ENABLE=0
    {% endif %}
  RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT