[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    PUSH_NOTIFICATION BODY="Print paused [{printer.virtual_sdcard.progress}% of {printer.virtual_sdcard.file_path}]"
    # SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    
    BASE_PAUSE
    PARK_TOOLHEAD

[gcode_macro M600]
gcode:
  PAUSE
  UNLOAD_FILAMENT
  
  PUSH_NOTIFICATION BODY="Filament change required: {params.NEXT_COLOR}"

[gcode_macro M601]
gcode:
  PAUSE
