[gcode_macro PRINT_START]
gcode:
    {% set extruder_low = [150, printer.extruder.temperature] | max %}

    SET_MPC_MATERIAL HEATER=extruder MATERIAL={params.MATERIAL}

    # Cancel the delayed nevermore stop macro if it's pending
    UPDATE_DELAYED_GCODE ID=AIR_FILTER_STOP_DELAYED DURATION=0

    G90                            ; absolute positioning
    
    SET_HEATER_TEMPERATURE HEATER=extruder   TARGET={(150, params.EXTRUDER | int) | min}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={params.BED}

    {% if 'xyz' not in printer.toolhead.homed_axes %}
      G28
    {% endif %}

    {% if params.BED %}
      RESPOND PREFIX=🔥 MSG="Waiting for bed {params.BED | default(0)}C"
      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={params.BED}

      PREHEAT_CHAMBER BED={params.BED} EXTRUDER={extruder_low} CHAMBER={params.CHAMBER | default(0)} WAIT=1
    {% endif %}

    {% if "ABS" in params.MATERIAL or "ASA" in params.MATERIAL %}
      AIR_FILTER_START SPEED=0.6
    {% else %}
      AIR_FILTER_STOP
    {% endif %}

    {% if not printer.quad_gantry_level.applied %}
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={params.EXTRUDER}
      TEMPERATURE_WAIT       SENSOR=extruder MINIMUM=145 MAXIMUM=155

      QUAD_GANTRY_LEVEL
      G28 Z
    {% endif %}

    {% if not printer.bed_mesh.profile_name %}
      BED_MESH_CALIBRATE ADAPTIVE=1 
    {% endif %}

    RESPOND PREFIX=🔥 MSG="Waiting for extruder {params.EXTRUDER}C"
    SET_HEATER_TEMPERATURE HEATER=extruder   TARGET={params.EXTRUDER}
    TEMPERATURE_WAIT       SENSOR=extruder   MINIMUM={params.EXTRUDER}
    
    RESPOND PREFIX=🔥 MSG="Line Purge"
    LINE_PURGE

    RESPOND PREFIX=🔥 MSG="Print Starting"
    M83
    G92 E0
    
    G1 F6000
    
    SET_TOOLHEAD_CRASH_DETECTION ENABLE=1

[gcode_macro SET_MPC_MATERIAL]
description: Set heater MPC parameters for a given material
variable_filament_table:
    ## Update this table to adjust material settings
    {
        ## ( density, heat capacity )  # suggested heat capacity range
        "PLA"       : ( 1.25, 2.20 ),  # 1.80 - 2.20
        "PETG"      : ( 1.27, 2.20 ),  # 1.70 - 2.20
        "PC+ABS"    : ( 1.15, 2.20 ),  # 1.50 - 2.20
        "ABS"       : ( 1.06, 2.40 ),  # 1.25 - 2.40
        "ASA"       : ( 1.07, 2.10 ),  # 1.30 - 2.10
        "PA6"       : ( 1.12, 2.50 ),  # 2.00 - 2.50
        "PA"        : ( 1.15, 2.50 ),  # 2.00 - 2.50
        "PC"        : ( 1.20, 1.90 ),  # 1.10 - 1.90
        "TPU"       : ( 1.21, 2.00 ),  # 1.50 - 2.00
        "TPU-90A"   : ( 1.15, 2.00 ),  # 1.50 - 2.00
        "TPU-95A"   : ( 1.22, 2.00 ),  # 1.50 - 2.00
        "ABS-CF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ASA-CF"    : ( 1.11, 2.10 ),  # 1.30 - 2.10
        "PA6-CF"    : ( 1.19, 2.50 ),  # 2.00 - 2.50
        "PC+ABS-CF" : ( 1.22, 2.20 ),  # 1.50 - 2.20
        "PC+CF"     : ( 1.36, 1.90 ),  # 1.10 - 1.90
        "PLA-CF"    : ( 1.29, 2.20 ),  # 1.80 - 2.20
        "PETG-CF"   : ( 1.30, 2.20 ),  # 1.70 - 2.20
    }
gcode:
    {% set material = params.MATERIAL | upper %}
    {% set heater = params.HEATER | default('extruder') %}
    {% set extruder_config = printer.configfile.settings[heater] %}
        
    {% if material in filament_table %}
        {% set (density, heat_capacity) = filament_table[material] %}

        RESPOND PREFIX=🔥 MSG="Configured {heater} MPC for {material}. Density: {density}, Heat Capacity: {heat_capacity}"
    {% else %}
        {% set density = extruder_config.filament_density %}
        {% set heat_capacity=extruder_config.filament_heat_capacity %}

        RESPOND PREFIX=🔥 MSG="Unknown material '{material}', using default mpc parameters for {heater}"
    {% endif %}

    MPC_SET HEATER={heater} FILAMENT_DENSITY={density} FILAMENT_HEAT_CAPACITY={heat_capacity}