[board_pins fysetc_party_in_the_back_2]
aliases:
    ## Can pins. STANDBY can be pulled low if you're running USB to disable the transceiver
    ## https://www.nxp.com/docs/en/data-sheet/TJA1040.pdf page 4
    CAN_TX=gpio8, CAN_RX=gpio9,

    ## I2C bus: i2c0e
    SCL=gpio25, SDA=gpio24,

    ## SPI for motors. spi_bus: spi0a / spi0_gpio4_gpio3_gpio2
    SCK=gpio2, MOSI=gpio3, MISO=gpio4,

    ## Stepper pins
    MOT1_CS=gpio1,  MOT1_EN=gpio20, MOT1_DIR=gpio5,  MOT1_STEP=gpio6,  MOT1_DIAG=gpio7,
    MOT2_CS=gpio21, MOT2_EN=gpio22, MOT2_DIR=gpio23, MOT2_STEP=gpio13, MOT2_DIAG=gpio14,

    ## Endstop pins, or DIAG with jumpers
    ENDSTOP_X=gpio16, ENDSTOP_Y=gpio17,

    ## Other IO
    FAN0=gpio0, FAN1=gpio18, 
    TH0=gpio26, TH1=gpio27, TH2=gpio28,
    RGB=gpio19,
