[save_variables]

[filament_switch_sensor Entry]
switch_pin: !toolhead:FS
pause_on_runout: False
runout_distance: 0
debounce_delay: 0.5
# runout_gcode:
#   RESPOND PREFIX=⚠️ MSG="Entry: Filament not detected"
insert_gcode:
  # RESPOND PREFIX=✅ MSG="Entry: Filament detected"
  {% if not printer['filament_switch_sensor Toolhead'].filament_detected %}
    {% if printer.print_stats.state not in ('printing', 'paused', 'error') %}
      AUTOLOAD_FILAMENT
    {% endif %}
  {% endif %}

[filament_switch_sensor Toolhead]
switch_pin: !toolhead:PROBE
check_on_print_start: True
pause_on_runout: False
debounce_delay: 0.5
# runout_gcode:
#   RESPOND PREFIX=⚠️ MSG="Toolhead: Filament not detected"
# insert_gcode:
#   RESPOND PREFIX=✅ MSG="Toolhead: Filament detected"

[filament_motion_sensor Motion]
switch_pin: pico:gpio16
extruder: extruder
encoder_ppr: 20
encoder_radius: 5. # mm
detection_length: 4.0
pause_on_runout: True
smart: True
runout_gcode:
  RESPOND TYPE=error MSG="Filament stalled!"

[filament_switch_sensor Presence]
switch_pin: ^!pico:gpio29
pause_on_runout: False
runout_distance: 1200
smart: True
immediate_runout_gcode:
    SET_FILAMENT_SENSOR SENSOR=Motion ENABLE=0
    RESPOND TYPE=error MSG="End of filament detected!"
    RESPOND MSG="Printer will runout in {printer.configfile.settings['filament_switch_sensor Presence'].runout_distance}mm"
runout_gcode:
    PAUSE
    RESPOND TYPE=error MSG="Ran out of filament"
    RESPOND MSG="Printer paused until filament inserted"
insert_gcode:
    SET_FILAMENT_SENSOR SENSOR=Motion RESET=1 ENABLE=1
    RESPOND TYPE=command MSG="Filament detected at Presence"

[delayed_gcode _fs_startup]
initial_duration: 0.1
gcode:
    {% set fss_detected = printer['filament_switch_sensor Presence'].filament_detected %}
    SET_FILAMENT_SENSOR SENSOR=Motion ENABLE={1 if fss_detected else 0}

# print_stats.state: standby -> printing, paused -> error, complete, cancelled
# idle_timeout.state: Idle, Printing, Ready
# virtual_sdcard: is_active

[gcode_macro AUTOLOAD_FILAMENT]
gcode:
  UPDATE_DELAYED_GCODE ID=__autoload_filament DURATION=0.01

[delayed_gcode __autoload_filament]
gcode:
  {% if printer.print_stats.state not in ('printing', 'paused', 'error') %}
    M83
    COLD_EXTRUDE HEATER=extruder ENABLE=1
    {% if not printer['filament_switch_sensor Toolhead'].filament_detected %}
      # Load filament until it hits the toolhead sensor
      UPDATE_DELAYED_GCODE ID=__autoload_filament DURATION=0.2
      G0 E1 F300
    {% else %}
      # Feed to the nozzle
      G0 E40 F300
      COLD_EXTRUDE HEATER=extruder ENABLE=0
    {% endif %}
  {% endif %}
